:root {
    --animate-duration: 1.5s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --black: #000000;
    --bluecolor:#0b4391
}
html {
    scroll-behavior: smooth;
  }
body {
    scroll-snap-type: y mandatory;
    /* background-image: radial-gradient(circle at left, #4d085d 19%, #24042b 39%, #000 81%); */
    background-color: var(--black);
}
body > section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
section h2 {
    color: #fff;
    text-align: center;
}

p.sub-content {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
  li a{
    color: var(--bluecolor);
  }
  

.navbar{
   background-color: var(--black);
}
a.navbar-brand img {
    width: 100px;
}
.navbar-brand {
    width: 20%;
}
.banner{
    /* background: url(https://cdn.dribbble.com/users/1595839/screenshots/11700339/e213f973-e6b4-48f3-8b0f-eb5644b50475.gif); */
    /* background-image: linear-gradient(-342deg, #000 46%, #4d085d 98%); */
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    

}
.banner-sec {
    position: absolute;
    right: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-sec .banner-right-cont {
    position: absolute;
    right: 0;
    color: #ffffffa1;
    width: 26%;
    top: 160px;
}
.banner-right-cont p:before {
    content: "";
    width: 1px;
    height: 85px;
    position: absolute;
    left: 0px;
    background: #ffffffa1;
    margin-top: 7px;
}
.banner-right-cont p {
    padding-left: 20px;
}

/* .banner::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url(https://media.tenor.com/ksQ7IJ1kb54AAAAj/liquid-art-abstract-art.gif);
    background-repeat: no-repeat;
    right: 0px;
    top: 0;
    text-align: center;
} */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav, .navbar-brand
{
    color: white !important;
}
li.nav-item {
    margin: 0 15px;
}
.navbar-light .navbar-nav a.nav-link{
    color: #d3d3d38c;
}
.navbar-light .navbar-nav a.nav-link:hover{
    color: #fff;
}
.banner h1 {
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
    word-wrap: break-word;
    width: 50%;
    font-weight: bold;
}
.banner h1:before {
    content: "";
    width: 60px;
    position: absolute;
    border: 1px solid #fff;
    top: 205px;
    left: 17px;
}


/* section2 */
.tab-sec{
    display: flex;
}
.tab_list {
    height: 100vh;
    width: 25%;
    transition: all .2s linear;
    background: #002f7024;
    color: #fff;
    text-align: left;
    padding: 10rem 25px;
    border: 0.1px solid #ffffff14;
}
.tab_list:hover {
    background: #0bb9b3;
}
.tab_title svg {
    width: 63px;
    height: 35px;
    margin: 25px 0px;
}
/* .tab_list:hover::before {
    background-image: url(https://img1.picmix.com/output/stamp/normal/3/2/0/5/475023_26bb4.gif);
    content: "";
    position: absolute;
    width: 79%;
    height: 100%;
    top: 0;
    right: 0;
} */
.tab_list_cont p {
    font-size: 15px;
    font-weight: 100;
}
.tab_list img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
    
.tab_list:hover > .tab_list_cont{
    opacity: 1;
}
.tab_list:hover > .tab_title > .subtext {
    display: none;
} 
.tab_list_cont{
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity .3s;
    width: 100%;
    text-align: left;
    color: #fff;
}
.tab_title .subtext {
    color: var(--bluecolor);
    display: block;
    transition: display .3s;
    letter-spacing: 2px;
    font-family: cursive;
    font-size: 12px
}
.tab_title img {
    color: white;
    filter: invert(1);
    width: 40px;
    margin: 23px 0;
}
.tab-sec {
    
    height: 100vh !important;
}
button {
    width: 180px;
    margin: 10px auto;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    border: 0.1em solid var(--bluecolor);
    border-radius: 0.1em;
    padding: 1.6em 2em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    }
    
button:hover {
/* Generic Hover style for a button */
    color: #fff;
}

button::after {
    /* Adds the overlay for creating slide effect */
    content: '';
    position: absolute;
    background-color: var(--bluecolor);
    z-index: -1;
    padding: 0.25em 0.5em;
    display: block;
    transition: all 0.35s;
}

button:hover::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.35s;
}

.right-slide::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}

button:active,
button:hover,
button:focus
{
    border: 1px solid var(--bluecolor);
    background: transparent;
}



/* Client List */
  .box {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 60%;
    height: auto;
    transition: transform 0.5s ease-in;
    margin: 8px auto;
  }
  .box img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    filter:invert(100%);
  }
  .box:hover {
    transform: scale(1.2);
  }

  /* Company count */
.company-count {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 4px;
}
    
  .count{
    width:25%;
    text-align:center;
    color: #fff;
  }
/* download forum */
.file-checkbox {
    border: 1px solid;
    height: 115px;
    margin-bottom: 40px;
    align-items: normal;
    line-height: 25px;
    padding: 25px;
}
.file-checkbox label {
    margin-left: 5px;
}
section#download-section {
    color: #fff;
}
#download-section input#email {
    height: 58px;
    padding: 5px 55px;
    background: #ffffff52;
    border: 0;
}
#download-section input#email::placeholder{
    color: #fff;
}
button#download-button, #form-elements button {
    border: 1px solid var(--bluecolor);
}
button#download-button::after, #form-elements button::after{
    background-color: var(--bluecolor);
}

::placeholder, .form-select{
    font-size: 14px;
}
.form-select{
    height: 50px;
}
.form-control:focus, .form-control:focus-visible,
.form-select:focus, .form-select:focus-visible
{
    outline: 0;
    box-shadow: none;
}
.form-label {
    color: #fff;
}
#form-elements h1, #form-elements p, #form-elements span{
    color: #fff;
}
#download-section input#email:focus-visible {
    border: 0;
    outline: 0;
}
/* footer */
.footer img {
    width: 50%;
    /* filter: brightness(0) invert(1); */
    margin-top: -50px;
    margin-left: -5px;
}
ul{
	list-style: none;
    padding: 0;
}
.footer{
    padding: 70px 0 0;
}
.footer-col{
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--bluecolor);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col p {
    color: #bbbbbb;
    display: grid;
}
.footer-col p span {
    color: #fff;
}
.subfooter {
    border-top: 1px solid #cccccc21;
    color: #a9a9a9;
    font-size: 10px;
    padding: 10px;
    text-align: center;
}
#form-elements button{
    color: #fff;
    font-size: 12px;
}
#form-elements button:hover{
    color: #fff;
}
.location p {
    font-size: 15px;
    width: 63%;
}
.location span {
    font-weight: bold;
}

.animation-group [data-animation] {
    opacity: 0;
}
.animation-group [data-animation].animate {
    opacity: 1;
}

.animation-group [data-animation]:hover {
    background: linear-gradient(45deg, #000000, #0d0a32);
    box-shadow: 0 4px 25px #000, inset 2px 2px 2px #393939;
}
.animation-group [data-animation]:nth-child(1) {
    animation-delay: 10ms;
}
.animation-group [data-animation]:nth-child(2) {
    animation-delay: 500ms;
}
.animation-group [data-animation]:nth-child(3) {
    animation-delay: 900ms;
}
.animation-group [data-animation]:nth-child(4) {
    animation-delay: 1300ms;
}
/* Animations */

.animated {
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
   }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
   }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
   }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
   }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
   }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
   }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
   }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

  
  @keyframes rippleDrop {
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }


  figure.snip {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
  }
  figure.snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  figure.snip img {
    max-width: 100%;
    position: relative;
    opacity: 0.9;
  }
  figure.snip figcaption {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 1px 1px 0;
  }
  figure.snip .heading {
    overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  figure.snip h2 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;
  }
  figure.snip h2 span {
    font-weight: 800;
  }
  figure.snip h2:before,
  figure.snip h2:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    top: 50%;
  }
  figure.snip h2:before {
    left: -1000%;
  }
  figure.snip h2:after {
    right: -1000%;
  }
  figure.snip p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 0.9em;
  }
  figure.snip a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.snip:hover img,
  figure.snip.hover img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.snip:hover figcaption,
  figure.snip.hover figcaption {
    top: 7%;
    bottom: 7%;
  }
  figure.snip:hover p,
  figure.snip.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  

  /* client testimonials */
.testimonial-area {
	background: var(--blue);
	position: relative;
	z-index: 2;
	padding: 50px 0;
}
.testimonial-area .owl-carousel {
	overflow: hidden;
	padding: 0 20px;
	margin: 0px -40px;
	padding-right: 40px;
}
.testimonial-area .owl-stage-outer {
	padding: 30px 50px;
	margin-left: -34px;
	width: calc(100% + 100px);
}
.single-testimonial {
	border: 1px solid #fff;
	text-align: center;
	border-radius: 45px;
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	padding: 50px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -40px;
	background: url(quote.png) no-repeat var(--black);
	background-size: 60%;
	width: 105px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
    
}
.single-testimonial::after {
	content: "";
    position: absolute;
    right: 10px;
    bottom: -40px;
    background: url(quote.png) no-repeat var(--black);
    background-size: 60%;
    width: 105px;
    height: 100px;
    background-position: 34px 19px;
}
.round {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.round-1::before {
	content: "";
	position: absolute;
	left: 88px;
	top: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
}
.round-1::after {
	content: "";
	position: absolute;
	left: -7px;
	top: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
}
.round-2::before {
	content: "";
	position: absolute;
	right: 87px;
	bottom: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.round-2::after {
	content: "";
	position: absolute;
	right: -7px;
	bottom: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.client-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.owl-dots button::after{
    background-color: transparent;
}
.client-info {
	position: relative;
	z-index: 3;
}
.client-info a {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
	font-size: 22px;
}
.client-info {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-bottom: 50px;
}
.client-info h6 {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}
.client-info span {
	display: inline-block;
	color: #fff;
	font-size: 12px;
}
.owl-dots button {
	background: #fff !important;
	width: 10px;
	height: 10px;
	border-radius: 26px;
	margin: 0 5px;
	transition: 0.3s;
}
.owl-dots {
	text-align: center;
	margin-top: 50px;
}
.owl-dots button.active {
	width: 30px;
}

  
  